<div class="header-wrap col-group">
	<div class="header-logo-wrap col-group">
		<img src="images/logo_hd.png" alt="" class="logo">
		<img src="images/logo_hs.png" alt="" class="logo">
	</div>
	<div class="header-utc-wrap col-group">
		<p class="utc">
			UTC
		</p>
		<p class="utc-txt">
			23.09.18 17:53
		</p>
	</div>
	<div class="header-menu-wrap col-group">
		<a href="HiSecure_account_add.html" class="header-menu-btn col-group">
			<i class="xi-profile icon"></i>
			Admin
		</a>
		<button class="header-menu-btn col-group">
			<i class="xi-log-out icon"></i>
			Logout
		</button>
		<button class="header-menu-btn dimming-btn col-group">
			Dimming
			<i class="xi-angle-down-min icon toggle-icon"></i>
		</button>
	</div>
</div>