/*===========================================================================
	웹폰트
============================================================================*/

/* 폰트 */
@font-face {
    font-family: 'Pretendard';
    font-weight: 100;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Thin.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 200;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraLight.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 300;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Light.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 400;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Regular.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 500;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Medium.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 600;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-SemiBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 700;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Bold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 800;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-ExtraBold.ttf') format("truetype");
    font-display: swap;
}
@font-face {
    font-family: 'Pretendard';
    font-weight: 900;
    font-style: normal;
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot');
    src: url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.eot?#iefix') format('embedded-opentype'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff2') format('woff2'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.woff') format('woff'),
        url('https://cdn.jsdelivr.net/gh/webfontworld/pretendard/Pretendard-Black.ttf') format("truetype");
    font-display: swap;
}

/*===========================================================================
	CSS 초기화
============================================================================*/
* { font-family: "Pretendard", sans-serif; box-sizing:border-box; margin:0; padding:0; }
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, em, img, strong, b, i, dl, dt, dd, ol, ul, li, form, label, legend, caption, article, aside, footer, header, menu, nav, section, video, a {border:0; outline:0; font-size:100%; color:#202020; line-height:1;}
body { line-height:1; -ms-overflow-style: none; height: 100%;
/*드래그 막기*/
-webkit-user-select: none;
-moz-user-select: none;
-ms-use-select: none;
user-select: none;
}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display:block;}
ul, ol, li {list-style:none;}
strong {display: inline-block;}
a {margin:0; padding:0; font-size:100%; display: block; }
pre { font-family: "Pretendard", sans-serif; white-space: pre-line; line-height: 1.5; }
img {width: 100%;
/*드래그 막기*/
-webkit-user-drag: none;
-khtml-user-drag: none;
-moz-user-drag: none;
-o-user-drag: none;
user-drag: none;
}
input, select {vertical-align:middle; outline:0; border: 0; background: none; font-family: "Pretendard", sans-serif;}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button { -webkit-appearance: none; margin: 0; }
/* input[type="file"], input[type="checkbox"], input[type="radio"] { display: none; } */
input[type="file"], input[type="radio"] { display: none; }
select { appearance: none; background-image: url(../images/icon_arrow_down.svg); background-repeat: no-repeat; background-position: right 8px center; background-size: 24px; }
select option[value="disabled"][disabled] {display: none;}
label { cursor: pointer; }
button {cursor:pointer; border: 0; outline: 0; background: none;}
a {text-decoration: none; display: block;}
textarea { border: 0; outline: 0; resize: none; font-family: "Pretendard", sans-serif;}

/* 컨텐츠 공통 */
.col-group {display:flex;}
.row-group {display:flex; flex-flow: column;}
.img-container { width: 100%; position: relative; }
.img-container img { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; object-fit: cover; object-position: center; }
.video-container { width: 100%; padding-top: 56.25%; position: relative; }
.video-container iframe { width: 100%; height: 100%; position: absolute; top: 0; left: 0; right: 0; bottom: 0; }
::-webkit-scrollbar { width: 8px; height: 8px; }
::-webkit-scrollbar-track { background: transparent; }
::-webkit-scrollbar-thumb { width: 8px; background: #d1d2d5; border-radius: 4px;}
.null-txt { font-size: 14px; font-weight: 300; text-align: center; color: #9f9b9b; padding: 24px 0; }
#wrap { background: #e4e4e4; min-height: 100vh; }
.red { color: #ff4620; }
.yellow  { color: #ef9900; }
.green { color: #359832; }
.blue { color: #524eee; }

/* 상단 헤더 */
.header-wrap { height: 40px; justify-content: space-between; padding-right: 32px; padding-left: 16px; align-items: center; position: relative; }
.header-logo-wrap { gap: 8px; height: 100%; align-items: flex-end; }
.header-logo-wrap .logo { width: 120px; height: 26px; object-fit: contain; object-position: center; }

.header-utc-wrap { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); gap: 24px; }
.header-utc-wrap .utc { font-size: 16px; font-weight: bold; position: relative; }
.header-utc-wrap .utc::after { content: ''; display: block; position: absolute; width: 1px; height: 10px; background: #202020; right: -12px; top: 50%; transform: translateY(-50%); }
.header-utc-wrap .utc-txt { font-size: 16px; font-weight: bold; }

.header-menu-wrap { gap: 32px; }
.header-menu-btn { gap: 8px; font-size: 16px; font-weight: bold; align-items: center; }
.header-menu-btn .icon { font-size: 18px; }
.dimming-btn { position: relative; padding-left: 16px; }
.dimming-btn ::after { content: ''; display: block; position: absolute; width: 1px; height: 12px; background: #a4a4a4; left: -8px; top: 50%; transform: translateY(-50%); }

/* 좌측 메뉴 */
.gnb { position: absolute; left: 0; width: 252px; padding-top: 16px; height: calc( 100vh - 40px ); }
.gnb-container { padding-left: 8px; gap: 16px; height: 100%; padding-bottom: 16px; overflow-y: auto;  }
.gnb-wrap { background: #fff; border-top-left-radius: 16px; border-bottom-left-radius: 16px; padding: 0 8px; }
.gnb-menu-list { display: none; }
.gnb-menu-list .gnb-menu:not(:last-child) { margin-bottom: 4px; }
.gnb-title { font-size: 14px; font-weight: bold; padding: 16px; gap: 4px; align-items: center; cursor: pointer; text-transform: uppercase; }
.gnb-title .icon { font-size: 16px; }
.gnb-menu-title { padding: 0 16px; height: 48px; align-items: center; gap: 12px; font-size: 18px; position: relative; cursor: pointer; border: 2px solid #e4e4e4; border-radius: 16px; }
.gnb-menu-title:hover { background: #f5f5f5;}
.gnb-menu-title .icon { font-size: 21px; }
.gnb-menu-title .toggle-icon { position: absolute; top: 50%; right: 8px; transform: translateY(-50%); }

.gnb-wrap.active { padding-bottom: 12px; }
.gnb-wrap.active .gnb-menu-list { display: block; }
.gnb-wrap.active .gnb-title { font-weight: bold; }
.gnb-wrap.active .gnb-title .icon { transform: rotate(180deg); }
.gnb-menu.active .gnb-menu-title { font-weight: bold; border: 2px solid #7f7f7f; }
.gnb-menu.active .gnb-menu-title .toggle-icon { transform: translateY(-50%) rotate(180deg); }

.sub-gnb-menu { padding-left: 10px; }
.sub-gnb-menu-list { display: none; padding-top: 4px; }
.sub-gnb-menu-list .sub-gnb-menu:not(:last-child) { margin-bottom: 4px; }
.sub-gnb-menu-title { padding-left: 8px; padding-right: 48px; padding-top: 4px; padding-bottom: 4px; min-height: 32px; line-height: 1.5; align-items: center; font-size: 14px; position: relative; cursor: pointer; color: rgba(0, 0, 0, 0.72); z-index: 0; border: 2px solid #e4e4e4; border-radius: 4px; }
/* .sub-gnb-menu-title::after { content: ''; display: block; position: absolute; top: 0; right: 0; height: 100%; width: 244px; background: #f1eefb; z-index: -1; opacity: 0; } */
.sub-gnb-menu-title:hover { background: #f5f5f5;}
.sub-gnb-menu-title .icon { font-size: 21px; }
.sub-gnb-menu-title .toggle-icon { position: absolute; top: 50%; right: 8px; transform: translateY(-50%); }
.sub-gnb-menu-title .badge { position: absolute; top: 50%; right: 8px; transform: translateY(-50%); }

.gnb-menu.active > .sub-gnb-menu-list { display: block; }
.sub-gnb-menu.active > .sub-gnb-menu-list { display: block; }
.sub-gnb-menu.active > .sub-gnb-menu-title { color: #202020; font-weight: bold; border: 2px solid #7f7f7f; }
.sub-gnb-menu.active > .sub-gnb-menu-title .icon { transform: translateY(-50%) rotate(180deg); }

.dashboard { width: 100%; min-width: 1560px; max-width:100vw; padding-left: 252px; height: calc( 100vh - 40px ); overflow:auto; }
.dashboard-container {overflow:auto; padding: 8px; border-radius: 20px; height: 100%; gap: 8px;justify-content: space-between; background: #efefef; }
.dashboard-container.gray { background: #f5f5f5; }
.dashboard-container.prepare { background-color: #efefef; background-image: url(../images/dashboard_bg.png); background-repeat: no-repeat; background-position: center; background-size: contain; }
.dashboard-wrap { width: calc( 100% - 440px - 8px ); gap: 8px; }

.dashboard-side { width: 440px; gap: 8px; }
.dashboard-section { width: 100%; }
.dashboard-section-title { width: 100%; padding: 8px; text-align: center; font-size: 16px; background: #292d33; color: #fff; font-weight: normal; text-transform: capitalize; border-radius: 14px; margin-bottom: 5px; }

.dashboard-section-tab-wrap { overflow: auto; background: #f4f4f4; }
.dashboard-section-tab-list { height: 24px; align-items: center; }
.dashboard-section-tab { white-space: nowrap; padding: 0 10px; font-size: 14px; color: #707070; cursor: pointer; }
.dashboard-section-tab:not(:last-child) { border-right: 1px solid #707070; }
.dashboard-section-tab.active { font-weight: bold; color: #202020; }

.dashboard-top-tab-wrap { overflow: auto; background: #efefef; }
.dashboard-top-tab-list { height: 32px; }
.dashboard-top-tab { white-space: nowrap; padding: 0 16px; line-height: 32px; font-size: 16px; color: #707070; cursor: pointer; }
.dashboard-top-tab.active { font-weight: bold; color: #202020; background: #fff; border-top-right-radius: 14px; border-top-left-radius: 14px; }

.dashboard-table-wrap { height: 216px; overflow: auto; padding: 0 10px; background: #fff; }
.dashboard-table-wrap table { table-layout: fixed; width: 100%; border-collapse: collapse; }
.dashboard-table-wrap thead { position: sticky; top: 0; }
.dashboard-table-wrap th { text-align: left; font-size: 16px; color: #202020; font-weight: 500; background: #fff; padding: 4px; }
.dashboard-table-wrap td { font-size: 16px; padding: 8px; word-break: break-word;}
.dashboard-table-wrap td:first-child { border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.dashboard-table-wrap td:last-child { border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.dashboard-table-wrap tr:nth-child(2n-1) td { background: #f4f4f4; }

.state { display: inline-block; width: 16px; height: 16px; border-radius: 50%; background: #a4a4a4; }
.state-bar { width: 6px; height: 28px; border-radius: 3px; }
.state.red, .state.Critical { background: #ff4620; }
.state.yellow, .state.Warning { background: #ffb520; }
.state.green, .state.Up { background: #359832; }

.dashboard-side .dashboard-section-wrap { height: 230px; padding: 8px; background: #fff; border-radius: 10px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.dashboard-side .dashboard-table-wrap { border-radius: 10px; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.dashboard-side .state-bar { width: 2px; height: 24px; border-radius: 1px; }

.dashboard-side .dashboard-section:nth-child(2) { height: calc( 100% - 305px - 267px - 16px ); }
.traffic-top-table-wrap { height: calc( 100% - 37px ); }
.traffic-top-table-wrap table { background-image: linear-gradient(to bottom, rgba(164, 164, 164, 0.4), #fff); }
.traffic-top-table tr:nth-child(2n-1) td { background: transparent; }
.traffic-top-table tr td { background: none; border-bottom: 3px solid #fff; }

.dashboard-real-time .dashboard-table-wrap { height: 268px; }
.dashboard-real-time .dashboard-table-wrap table { border-collapse: separate; border-spacing: 0 3px; }
.dashboard-real-time .dashboard-table-wrap td { background: #e4e4e4; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; }
.dashboard-real-time .dashboard-table-wrap td:first-child { border-left: 1px solid #e4e4e4; border-top-left-radius: 4px; border-top-left-radius: 4px; }
.dashboard-real-time .dashboard-table-wrap td:last-child { border-right: 1px solid #e4e4e4; border-top-right-radius: 4px; border-top-right-radius: 4px;}
.dashboard-real-time .dashboard-table-wrap tr:nth-child(2n-1) td { background: #fff; }

.dashboard-top { gap: 8px; width: 100%; }
.dashboard-top .dashboard-section { gap: 5px; }
.dashboard-top .dashboard-section-wrap { gap: 5px; }
.dashboard-top-item {
    width: 100%; height: 90px; align-items: center; text-align: center; gap: 8px; justify-content: center;
    cursor:pointer; background: #fff; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); border-radius: 8px;
}
.dashboard-top-item .num { font-size: 32px; font-weight: 600; }
.dashboard-top-item .txt { font-size: 18px; font-weight: bold; }
.dashboard-top-item.red * { color: #ff4620; }
.dashboard-top-item.yellow * { color: #ef9900; }
.dashboard-top-item.green * { color: #359832; }

.dashboard-btm .state-bar { display: block; width: 2px; height: 12px; border-radius: 1px; }
.dashboard-btm .dashboard-section-tab-wrap { background: #fff; margin-bottom: 8px; }
.dashboard-btm .dashboard-section-wrap { gap: 8px; }
.dashboard-btm .dashboard-section-title-wrap { width: 100%; padding: 0 16px; height: 32px; background: #54565C; justify-content: space-between; align-items: center; border-top-right-radius: 10px; border-top-left-radius: 10px; }
.dashboard-btm .dashboard-section-wrap .dashboard-section-title { width: fit-content; padding: 0; font-size: 14px; font-weight: 300; background: none; color: #fff; }
.dashboard-btm .dashboard-section-wrap .dashboard-section-title strong { color: #fff; }
.dashboard-btm .dashboard-section-sub-title { padding: 0 12px; background: #fff; font-size: 10px; font-weight: 600; line-height: 2.4; position: relative; }
.dashboard-btm .dashboard-section-sub-title::after { content: ''; display: block; position: absolute; width: calc( 100% - 24px ); height: 1px; background: #292d33; bottom: 0; left: 12px; }
.dashboard-btm .dashboard-section { border-radius: 10px; border: 1px solid #e4e4e4; }
.dashboard-btm .dashboard-section:nth-child(1) .dashboard-table-wrap { height: 224px; }
.dashboard-btm .dashboard-table-wrap { height: 248px; padding: 0 8px; background: #fff; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; }
.dashboard-btm .dashboard-table-wrap table { border-collapse: separate; border-spacing: 0 3px; }
.dashboard-btm .dashboard-table-wrap th { font-size: 12px; font-weight: 500; }
.dashboard-btm .dashboard-table-wrap th:first-child { padding-left: 16px; }
.dashboard-btm .dashboard-table-wrap th:last-child { padding-right: 16px; }
.dashboard-btm .dashboard-table-wrap td { background: #e4e4e4; font-size: 12px; font-weight: 300; padding: 4px 8px; line-height: 1.334; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; }
.dashboard-btm .dashboard-table-wrap td:first-child { padding-right: 0; border-left: 1px solid #e4e4e4; border-top-left-radius: 4px; border-top-left-radius: 4px; }
.dashboard-btm .dashboard-table-wrap td:last-child { border-right: 1px solid #e4e4e4; border-top-right-radius: 4px; border-top-right-radius: 4px;}
.dashboard-btm .dashboard-table-wrap tr:nth-child(2n-1) td { background: #fff; }

.dashboard-btm .dashboard-table-wrap tr:nth-child(2n-1) .state-bar { background: #359832; }
.dashboard-btm .dashboard-table-wrap tr:nth-child(2n) .state-bar { background: #524eee; }

.dashboard-content { height: calc( 100% - 127px - 285px - 16px ); background: #f5f5f5; border-radius: 14px; border: 1px solid #e4e4e4; position: relative; box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16); }
.dashboard-sample-wrap {
    display: flex; align-items: center; justify-content: center;
    width: 100%; height: 100%; overflow: auto; position: relative;
    text-align: center;
}
.dashboard-sample-wrap .device-img-wrap {
    display: inline-block;
    height:306px; width:auto; margin:0 auto;
    position: relative;
    transform: scale(1.3);

}
.dashboard-sample-wrap .device-img-wrap.plus { transform: scale(1.5); transform-origin:0 0; }
.dashboard-sample-wrap .device-img-wrap.minus { transform: scale(1); transform-origin:0 0; }
.dashboard-sample-wrap .device {
    content:"";
    width:32px; height:32px;
    position: absolute;
    left:10%; top:10%;
    animation:flash .6s infinite;
    background-color:#359832; border-radius:100%;
}
.dashboard-sample-wrap .device.device-OT {
    width:21px; height:21px;
}
.dashboard-sample-wrap .device.device-L3 {
    width:40px; height:40px;
}
.dashboard-sample-wrap .device.Warning {
    background-color:#f6b401;
}
.dashboard-sample-wrap .device.Down {
    background-color:#ff4620;
}
@keyframes flash {
    0% {
        opacity:0.3;
    }
    100% {
        opacity:.7;
    }
}
#dashboard_sample {
    display: block; width: auto; height: 100%; object-fit: contain; object-position: center;
    position: relative;
    z-index: 1;
}


.dashboard-btn-wrap { width: 56px; position: absolute; left: -1px; bottom: -1px; gap: 8px; z-index: 9; }
.dashboard-btn-list { width: 100%; border: 1px solid #e4e4e4; border-top-right-radius: 14px; overflow: hidden; position: relative }
.dashboard-btn-list::after { content: ''; display: block; position: absolute; width: 26px; height: 2px; background: #202020; top: 50%; left: 50%; transform: translate(-50%, -50%); }
.dashboard-btn { width: 100%; height: 60px; text-align: center; background: #fff; }
.dashboard-btn i { font-size: 30px; line-height: 60px; }
.dashboard-btn.renew-btn { border: 1px solid #e4e4e4; border-top-right-radius: 14px; border-bottom-right-radius: 14px; }

.dashboard-state-wrap { position: absolute; left: 20px; top: 16px; gap: 6px; z-index: 9; }
.dashboard-state-item { width: 48px; height: 20px; align-items: center; justify-content: center; gap: 4px; border-radius: 4px; font-size: 14px; font-weight: bold; color: #fff; }
.dashboard-state-item.green { background: #359832; }
.dashboard-state-item.yellow { background: #f6b401; color: #202020; }
.dashboard-state-item.red { background: #ff4620; }
.dashboard-state-item .icon {font-size: 14px; color: #fff; }
.dashboard-state-item.yellow .icon { color: #202020; }

.legend-wrap { position: absolute; top: 16px; right: 20px; z-index: 9; padding: 16px; border-radius: 12px; border: 1px solid #e4e4e4; background: #fff; }
.legend-list { gap: 8px; }
.legend-item { gap: 8px; align-items: center; font-size: 14px; font-weight: bold; }
.legend-item .color-box { width: 16px; height: 16px; border-radius: 4px; }
.legend-item .color-box.green { background: #359832; }
.legend-item .color-box.yellow { background: #f6b401 }
.legend-item .color-box.red { background: #ff4620; }

/**/

.modal-container { position: fixed; top: 0; right: 0; bottom: 0; left: 0; z-index: 99999; background: rgba(0, 0, 0, 0.3); }
.modal-wrap { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); box-shadow: 0 3px 36px 0 rgba(0, 0, 0, 0.1); background: #fff; max-width: 560px; border-radius: 14px; width: 100%; overflow: hidden; }
.modal-title { position: relative; background: #4d4d4d; height: 32px; text-align: center; line-height: 32px; font-size: 16px; font-weight: 600; color: #fff; }
.modal-title .close-btn { font-size: 16px; position: absolute; top: 8px; right: 8px; cursor: pointer; color: #fff; }
.modal-wrap .dashboard-form { padding: 16px; }
.modal-wrap .dashboard-form-btn-wrap { margin-top: 16px; padding-bottom: 24px; }

.dashboard-form-container { background: #f5f5f5; overflow: auto; height: auto; border-radius: 14px; padding: 40px 24px; position: relative; }
.dashboard-form-wrap { max-width: 640px; margin: 0 auto; padding: 48px 48px 56px; background: #fff; border-radius: 12px; box-shadow: 0 3px 32px 0 rgba(0, 0, 0, 0.08); border: solid 2px #e4e4e4; }
.dashboard-form-wrap.wide { max-width: unset; }
.dashboard-form-title { font-size: 32px; font-weight: bold; padding-bottom: 24px; border-bottom: 1px dashed #e4e4e4; margin-bottom: 24px; }
.dashboard-form-title .subtitle { display: inline-block; font-size: 16px; padding-left: 8px; }
.dashboard-form-wrap .modal-title { background: none; }
.dashboard-form { gap: 16px; }
.dashboard-form .form-wrap:not(:last-child) { padding-bottom: 16px; border-bottom: 1px solid #e4e4e4; }
.dashboard-form .form-list { gap: 12px; }
.dashboard-form .form-item { gap: 8px; width: 100%; }
.dashboard-form .form-item.col-group { align-items: center; }
.dashboard-form .form-item .item-title { font-size: 16px; color: #7f7f7f; align-items: center; gap: 16px; line-height: 1.5; word-break: keep-all; font-weight: 500; }
.dashboard-form .form-item.col-group .item-title { width: 160px; }
.dashboard-form .form-item .red { color: #ff4620; }
.dashboard-form .form-item .sub-txt { font-size: 13px; color: #7f7f7f; line-height: 1.25; }
.dashboard-form .form-item-title { font-size: 20px; font-weight: bold; color: #202020; margin-bottom: 12px; align-items: center; gap: 16px; }
.dashboard-form table .form-item-title { margin-bottom: 0; }
.dashboard-form .item-user { gap: 8px; flex-flow: wrap; align-items: center; font-size: 16px; }
.dashboard-form .form-item.col-group .item-user { width: calc( 100% - 168px ); }
.dashboard-form .form-input-wrap { position: relative; max-width: 560px; }
.dashboard-form .form-input-wrap .sticker { font-size: 16px; position: absolute; top: 50%; right: 16px; transform: translateY(-50%); }
.dashboard-form .form-input-wrap .form-input { padding-right: 24px; }
.dashboard-form .form-input, .dashboard-form .form-select { width: 100%; max-width: 560px; height: 48px; border: 2px solid #e4e4e4; font-size: 18px; padding: 0 12px; border-radius: 4px; }
.dashboard-form .form-input:focus, .dashboard-form .form-select:focus { border: 2px solid #292d33; box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08); }
.dashboard-form .form-input.w120 { width: 120px; }
.dashboard-form .form-input::placeholder { opacity: .7; }
.dashboard-form .form-textarea { height: 180px; padding: 8px; }
.dashboard-form .form-user-btn { width: fit-content; height: 32px; background: #292d33; font-size: 16px; padding: 0 16px; border-radius: 4px; color: #fff; white-space: nowrap; }
.dashboard-form input[type='checkbox'] { display: none; }
.dashboard-form .add-btn { width: 20px; height: 20px; border-radius: 50%; background: #f5f5f5; }
.dashboard-form .add-btn i { text-align: center; line-height: 20px; font-size: 16px; color: #524eee; }
.dashboard-form-btn-wrap { margin-top: 40px; justify-content: center; gap: 16px; align-items: center; }
.dashboard-form-btn { width: 180px; height: 56px; border-radius: 28px; background: #502ecf; font-size: 20px; font-weight: 600; color: #fff; text-align: center; line-height: 56px; }
.dashboard-form-btn.cancel-btn { background: #7f7f7f; }
.dashboard-form-btn.black { background: #202020; }

.form-scroll-wrap { max-height: 180px; overflow-y: auto; border-radius: 4px; border: 1px solid #e4e4e4; padding: 6px; }
.form-scroll-item { height: 36px; background: #f5f5f5; border-radius: 2px; padding: 0 8px; align-items: center; }
.form-scroll-item:not(:last-child) { margin-bottom: 4px; }
.form-scroll-item .check-label { width: 100%; }

.switch-wrap .switch-icon { width: 100%; max-width: 132px; height: 36px; border-radius: 18px; background: #a4a4a4; position: relative; }
.switch-wrap .switch-core { width: 60px; height: 26px; border-radius: 13px; background: #fff; position: absolute; left: 5px; top: 5px; transition: .2s; }
.switch-wrap input:checked + .switch-icon { background: #502ecf; }
.switch-wrap input:checked + .switch-icon .switch-core { transform: translateX(62px); }

.check-label .check-input { display: none; }
.check-label .check-item { margin: 0 auto; align-items: center; gap: 4px; font-size: 16px; }
.check-label .check-item i { display: block; width: 20px; height: 20px; border-radius: 4px; background: #fff; border: 1px solid #707070; color: #fff; font-size: 14px; text-align: center; line-height: 18px; }
.check-label .check-input:checked + .check-item i { color: #fff; background: #502ecf; border: 1px solid #502ecf; }
.check-label .radio-item i { border-radius: 50%; position: relative; }
.check-label .radio-item i::after { content: ''; display: block; position: absolute; width: 12px; height: 12px; background: #502ecf; border-radius: 50%; left: 50%; top: 50%; transform: translate(-50%, -50%); opacity: 0; }
.check-label .check-input:checked + .radio-item i { background: #FFF; }
.check-label .check-input:checked + .radio-item i::after { opacity: 1; }

.modal-table-container { padding: 16px; }
.modal-table-wrap { max-height: 540px; border-bottom: 1px solid #e4e4e4; }
.modal-table-wrap th { background: #efefef; text-align: center; font-size: 12px; color: #202020; }
.modal-table-wrap th:first-child { border-top-left-radius: 16px; border-bottom-left-radius: 16px; }
.modal-table-wrap th:last-child { border-top-right-radius: 16px; border-bottom-right-radius: 16px; }
.modal-table-wrap td { text-align: center; font-size: 12px; }
.modal-table-wrap tr:nth-child(2n-1) td { background: none;}

.dashboard-form-wrap .modal-table-container { padding: 0; }
.dashboard-form-wrap .dashboard-table-wrap { height: auto; }
.dashboard-form-wrap .modal-table-wrap th { font-size: 16px; }
.dashboard-form-wrap .modal-table-wrap td { font-size: 16px; }

.firewall-interface-wrap .form-list { flex-flow: wrap; }
.firewall-interface-wrap .form-item { width: 120px; }
.interface-state { width: 120px; height: 85px; position: relative; }
.interface-state.disable { background: #292d33; }
.interface-state.enable { background: #359832; }
.interface-state.error { background: #ff4620; }
.interface-num { position: absolute; font-size: 20px; font-weight: bold; color: #fff; top: 50%; left: 50%; transform: translate(-50%, -50%); }

.form-download-btn-wrap { gap: 24px; align-items: center; }
.form-download-btn { font-size: 16px; font-weight: bold; text-decoration: underline; }

.form-file-upload-wrap { max-width: 560px; width: 100%; }
.form-file-upload-wrap label { width: 100%; gap: 8px; }
.form-file-name { width: calc( 100% - 160px - 8px ); height: 32px; border: 1px solid #e4e4e4; font-size: 16px; padding: 0 8px; border-radius: 4px; line-height: 30px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }
.form-file-btn { width: 160px; height: 32px; border-radius: 4px; text-align: center; line-height: 32px; font-size: 16px; color: #fff; background: #202020; }

.form-title-btn { min-width: 88px; padding: 0 8px; height: 24px; line-height: 24px; border-radius: 2px; background: #202020; color: #fff; font-size: 14px; }

/* 모달 - 알림창 */
.modal-alert-wrap { text-align: center; }
.modal-alert-txt-wrap { padding: 24px 0; }
.modal-alert-title-wrap { margin-bottom: 24px; }
.modal-alert-title-wrap .icon { font-size: 40px; line-height: 1.5; }
.modal-alert-title { font-size: 20px; font-weight: 600; }
.modal-alert-txt { font-size: 14px; line-height: 1.5; }
.modal-alert-wrap.warning .modal-alert-title-wrap .icon { color: #ff4620; }
.modal-alert-wrap.warning .modal-alert-title { color: #ff4620; }
.modal-alert-wrap.warning .dashboard-form-btn.submit-btn { background: #ff4620; }

/* 상세 페이지 - 테이블 */
.detail-table-container { background: #fff; overflow: hidden; height: calc( 100% - 88px ); padding: 16px; position: relative; }
.detail-table-container:after {
    content:""; width:100%; height:22px;
    position: absolute; bottom:16px; left:0;
    background-color:#fff;
}
.detail-table-btn-wrap { justify-content: flex-end; gap: 8px; }
.detail-table-btn { min-width: 80px; padding: 0 12px; height: 30px; border: 1px solid #a4a4a4; text-align: center; border-radius: 4px; background: #fff; font-size: 16px; font-weight: 500; line-height: 28px; }
.detail-table-btn:hover { background: #f4f4f4; }
.detail-table-btn.active { background: #502ecf; border: 1px solid #502ecf; color: #fff; }
.detail-table-wrap { overflow: auto; height: 100%; position: relative; }
.detail-table-wrap table { border-spacing: 0 10px; transform: translateY(-10px); }
.detail-table-wrap table thead { position: sticky; top: 10px; z-index: 1; }
.detail-table {  table-layout: fixed; min-width: 100%; }
.detail-table th { background: #efefef; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; font-size: 16px; padding: 16px 8px; line-height: 1.25; white-space: nowrap;  }
.detail-table th:first-child { border-top-left-radius: 12px; border-bottom-left-radius: 12px; border-left: 1px solid #e4e4e4; }
.detail-table th:last-child { border-top-right-radius: 12px; border-bottom-right-radius: 12px; border-right: 1px solid #e4e4e4; }
.detail-table td { background: #fff; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; font-size: 14px; padding: 12px; line-height: 1.25; }
.detail-table td:first-child { border-top-left-radius: 12px; border-bottom-left-radius: 12px; border-left: 1px solid #e4e4e4; }
.detail-table td:last-child { border-top-right-radius: 12px; border-bottom-right-radius: 12px; border-right: 1px solid #e4e4e4; }
.detail-table-search-wrap { justify-content: center; gap: 12px; margin-bottom: 16px; }
.detail-table-search-input { width: 768px; height: 30px; border-radius: 4px; border: 1px solid #a4a4a4; padding: 0 12px; font-size: 16px; }
.detail-table-search-input::placeholder { opacity: .4; }

/* 상세 페이지 - 탭 메뉴 */
.dashboard-menu-wrap { padding: 24px; border: 1px solid #e4e4e4; justify-content: space-between; background: #fff; width: 100%; border-radius: 14px; margin-bottom: 8px; position: sticky; top: 0; z-index: 1; align-items: center; }
.dashboard-menu-group { gap: 8px; }
.dashboard-menu-item { width: auto; padding: 0 16px; background: #fff; text-align: center; border: 1px solid #a4a4a4; border-radius: 4px; height: 30px; line-height: 28px; font-size: 16px; font-weight: 500; color: #4d4d4d; cursor: pointer; }
.dashboard-menu-item:hover { background: #f4f4f4; }
.dashboard-menu-item.active { background: #502ecf; border: 1px solid #502ecf; color: #fff; }

.dashboard-menu-nav { gap: 8px; align-items: center; }
.dashboard-menu-nav-item { font-size: 16px; font-weight: bold; color: #9f9b9b; }
.dashboard-menu-nav-item.active { color: #202020; }
.dashboard-menu-nav .icon { font-size: 16px; color: #9f9b9b; }

.log-date-input-wrap { gap: 40px; margin-bottom: 40px; }
.log-date-input-group { width: 100%; position: relative; }
.log-date-input-group .icon { position: absolute; right: 24px; top: 50%; transform: translateY(-50%); font-size: 24px; }
.log-date-input { width: 100%; height: 64px; border: 2px solid #e4e4e4; border-radius: 8px; padding: 0 24px; font-size: 24px; font-weight: 600; }
.log-date-input::placeholder { opacity: 0.6; }

.txt-img { max-width: 70%; }

/* 상세 페이지 - account 관리 */
.dashboard-modify-wrap { max-width: 1200px; }
.dashboard-modify-wrap .modify-group { gap: 56px; }
.dashboard-modify-wrap .modify-group> * { width: 100%; padding: 0; }
.setting-txt-wrap { margin-bottom: 48px; }
.setting-txt { font-size: 16px; line-height: 1.5; color: #7f7f7f; text-align: center; justify-content: center; gap: 8px; align-items: center; }
.setting-txt.red { color: #ff4620; }
.setting-input { width: 64px; height: 20px; border: 1px solid #202020; background: #fff; text-align: center; font-size: 16px; }
.dashboard-form-group { gap: 56px; margin-bottom: 48px; }
.dashboard-form-group .dashboard-form { width: 100%; padding: 0; }

/* 상세 페이지 - report 테이블 */
.report-title-wrap { margin-bottom: 24px; align-items: baseline; gap: 12px; }
.report-title { font-size: 32px; font-weight: 600; }
.report-sub-title { font-size: 18px; font-weight: 600; }
.report-date { font-size: 18px; font-weight: 300; }
.report-table { table-layout: fixed; width: auto; min-width: 100%; border-collapse: separate;  }
.report-table th { font-size: 16px; font-weight: 600; padding: 16px 8px; text-align: left; border-top: 2px solid #202020; border-bottom: 1px solid #e4e4e4; background: #fff; }
.report-table td { font-size: 14px; font-weight: 600; color: #7f7f7f; line-height: 1.5; padding: 12px 8px; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; text-align: left; cursor: pointer; }
.report-table td:first-child { border-left: 1px solid #e4e4e4; border-top-left-radius: 4px; border-bottom-left-radius: 4px; }
.report-table td:last-child { border-right: 1px solid #e4e4e4; border-top-right-radius: 4px; border-bottom-right-radius: 4px; }
.report-table tbody tr:hover { box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.08); }
.report-table tbody tr:hover td { background: #E4DFF7; border-top: 1px solid #502ecf; border-bottom: 1px solid #502ecf; color: #202020; }
.report-table tbody tr:hover td:first-child { border-left: 1px solid #502ecf; }
.report-table tbody tr:hover td:last-child { border-right: 1px solid #502ecf; }
.report-table strong { font-size: 16px; }
.report-table .percent { gap: 8px; }
.report-table .percent-txt-group { justify-content: space-between; padding-bottom: 8px; }
.report-table .percent-txt-group.left { text-align: right; align-items: flex-end; }
.report-table .percent-txt-group.right { text-align: left; align-items: flex-start; }
.report-table .percent-txt span  { color: #7f7f7f; }
.report-table .percent-txt .num { width: 64px; }
.report-table .percent-bar { width: 8px; height: 40px; }
.report-table .percent-bar.green { background: #359832; }

/* 상세 페이지 - log 테이블 */
.log-table-wrap { height: calc( 100% - 191px ); }
.log-table { table-layout: fixed; width: auto; min-width: 100%; }
.log-table th { font-size: 16px; font-weight: 600; padding: 16px 8px; text-align: left; background: #f1eefb; }
.log-table th:first-child { border-top-left-radius: 16px; border-bottom-left-radius: 16px; }
.log-table th:last-child { border-top-right-radius: 16px; border-bottom-right-radius: 16px; }
.log-table td { font-size: 14px; font-weight: 600; color: #7f7f7f; line-height: 1.5; padding: 12px 8px; border-top: 1px solid #e4e4e4; border-bottom: 1px solid #e4e4e4; text-align: left; }
.log-table td:first-child { border-left: 1px solid #e4e4e4; border-top-left-radius: 16px; border-bottom-left-radius: 16px; }
.log-table td:last-child { border-right: 1px solid #e4e4e4; border-top-right-radius: 16px; border-bottom-right-radius: 16px; }
.log-table td strong { font-size: 16px; }

/* 상세 페이지 - identify 테이블 */
.identify-table { padding: 0 5px; width: 100%; }
.identify-table thead tr:first-child th { font-size: 18px; }
.identify-table thead tr:first-child th:first-child { border-right: 1px solid #e4e4e4; border-top-right-radius: 12px; border-bottom-right-radius: 12px; transform: translateX(-5px); background: #d6d5d6; }
.identify-table thead tr:first-child th:last-child { border-left: 1px solid #e4e4e4; border-top-left-radius: 12px; border-bottom-left-radius: 12px; transform: translateX(5px); background: #e3ddf7; }
.identify-table thead tr:last-child th:nth-child(4) { border-right: 1px solid #e4e4e4; border-top-right-radius: 12px; border-bottom-right-radius: 12px; }
.identify-table thead tr:last-child th:nth-child(-n+4) { transform: translateX(-5px); }
.identify-table thead tr:last-child th:nth-child(5) { border-left: 1px solid #e4e4e4; border-top-left-radius: 12px; border-bottom-left-radius: 12px; }
.identify-table thead tr:last-child th:nth-child(n+5) { background: #f1eefb; transform: translateX(5px); }

.identify-table tbody td { text-align: center; }
.identify-table tbody:nth-child(2n-1) td { background: #f5f5f5; }
.identify-table tbody tr:first-child td:nth-child(4) { border-right: 1px solid #e4e4e4; border-top-right-radius: 12px; border-bottom-right-radius: 12px; }
.identify-table tbody tr:first-child td:nth-child(-n+4) { transform: translateX(-5px); }
.identify-table tbody tr:first-child td:nth-child(5) { border-left: 1px solid #e4e4e4; border-top-left-radius: 12px; border-bottom-left-radius: 12px; }
.identify-table tbody tr:first-child td:nth-child(n+5) { transform: translateX(5px); }
.identify-table tbody tr:not(:first-child) td { transform: translateX(5px); }

/* pdf텍스트 */
.detail-txt-wrap { gap: 48px; padding: 24px; }
.detail-txt-item { gap: 16px; }
.detail-txt-item-title { font-size: 24px; font-weight: bold; line-height: 1.25; }
.detail-txt-item-txt, .detail-txt-item-txt *:not(.detail-txt-item-title) { font-size: 18px; font-weight: 500; line-height: 1.5; }
.detail-txt-item-txt .detail-txt-item-title { font-size: 20px; padding: 16px 0; }
.detail-txt-item .sub { padding-left: 16px; }

/* .m-table.type01 th {
    padding:8px 12px;
    font-weight:bold;
    background-color:#fff; color:#502ecf;
}
.m-table.type01 {}
.m-table.type01 td {
    padding:8px 12px;
    font-size:14px;
    white-space: nowrap;
}
.m-table.type01 {
    border-bottom:1px solid #e1e1e1;
} */

/* ahnlab 추가 페이지 */
/* IPv4 생성 */
.create-option-wrap { margin-bottom: 16px; height: 50px; background: #efefef; border: 1px solid #e4e4e4; align-items: center; padding: 0 16px; gap: 24px; }
.create-option-item { position: relative; font-size: 16px; font-weight: 300; display: flex; align-items: center; gap: 8px; }
.create-option-item:not(:last-child)::after { content: ''; display: block; position: absolute; width: 1px; height: 12px; background: #a4a4a4; top: 50%; right: -12px; transform: translateY(-50%); }
.create-option-item.opacity { opacity: .5; }
.create-option-item .check-label .check-item { font-weight: 600; gap: 8px; }

.create-input-wrap { position: relative; }
.create-input-wrap .sticker { font-size: 16px; position: absolute; top: 50%; right: 8px; transform: translateY(-50%); }
.create-input-wrap .create-input { padding-right: 24px; }
.create-input, .create-select { width: 160px; height: 30px; border: 1px solid #a4a4a4; border-radius: 2px; background-color: #fff; padding: 0 12px; font-size: 16px; font-weight: 500; }
.create-input::placeholder { opacity: .5; }

.create-group { gap: 24px; flex-flow: wrap; margin-bottom: 16px; }
.create-item { width: calc( ( 100% - 24px * 2 ) / 3 ); }
.create-title-wrap { width: 100%; background: #efefef; padding: 0 16px; justify-content: space-between; align-items: center; height: 48px; gap: 8px; }
.create-title { font-size: 18px; font-weight: 600; }

.create-table-wrap { height: 272px; overflow-y: auto; position: relative; }
.create-table { table-layout: fixed; width: 100%; border-collapse: collapse; }
.create-table thead { position: sticky; top: 0; z-index: 1; }
.create-table th, .create-table td { padding: 6px 8px; background: #fff; font-size: 14px; font-weight: 500; color: #707070; text-align: left; border-bottom: 1px solid #e4e4e4; position: relative; }
.create-table td { color: #202020; }
.create-table th:not(:last-child)::after, .create-table td:not(:last-child)::after { content: ''; display: block; position: absolute; width: 1px; height: 14px; background: #a4a4a4; top: 50%; right: 0; transform: translateY(-50%); }

.create-search-wrap { width: calc( 100% - 32px - 160px ); }
.create-search-wrap .create-input { width: 100%; }

.create-footer-select { font-size: 18px; font-weight: 600; }
.create-footer-input { width: 100%; height: 48px; border: 1px solid #a4a4a4; border-radius: 4px; background: #fff; padding: 0 16px; font-size: 18px; font-weight: 500; }
.create-footer-input::placeholder { opacity: .5; }
.create-footer-btn-wrap { margin-top: 16px; gap: 16px; align-items: center; }
.create-footer-btn { width: 160px; height: 40px; border-radius: 20px; background: #202020; text-align: center; line-height: 40px; color: #fff; font-size: 16px; font-weight: 600; }
.create-footer-btn.submit { background: #502ecf; }
.create-footer-btn-wrap  .check-label .check-item { font-size: 18px; font-weight: 600; gap: 8px; }

/* 테이블 상단 버튼 */
.detail-table-edit-btn-wrap { position: absolute; left: 16px; top: 16px; }
.detail-table-edit-btn { width: 30px; height: 30px; text-align: center; line-height: 30px; position: relative; }
.detail-table-edit-btn:not(:last-child):after { content: ''; display: block; position: absolute; width: 1px; height: 15px; background: #a4a4a4; top: 50%; right: 0; transform: translateY(-50%); }
.detail-table-edit-btn i { font-size: 16px; }

/* 트래픽 통합 로그 - 세션생성/세션종료 구분 */
.traffic-log-table tr td { background-color: #fff; }
.traffic-log-table tr td .state { width: 12px; height: 12px; transform: translateY(2px); }
.traffic-log-table tr.active td { background-color: #f0edfb; color: #1770fb; }
.traffic-log-table tr.active td .state { background-color: #1770fb; }

/* 개발자 추가 */

/* .detail-table {
    width: 100%;
}
.detail-table th {
    font-size:12px;
}

.detail-table td {
    font-size:12px;
} */

.dashboard-head {
    display: flex; align-items: center; justify-content: space-between;
    margin-bottom:24px;
}

.dashboard-head .title {
    font-size:24px; font-weight:bold;
}

.m-input-text.type01 {
    position: relative;
}
.m-input-text.type01 input {
    padding:8px 16px;
    border-radius:5px; background-color:#fff;
}
.m-input-text.type01 i {
    position: absolute; top:50%; right:12px;
    transform:translateY(-50%);
    cursor:pointer;
}
.m-input-text.type01.with-deco input {
    padding-right:36px;
}

.area-ips {
    border:1px solid #ccc;
}
.area-ips > .top {
    padding:8px 16px;
    background-color:#eee;
}
.area-ips > .top .title {
    color:navy;
}
.area-ips > .fragments {
    display:flex;
    padding:20px;
    background-color:#fff;
}
.area-ips .fragment-left {}
.area-ips .fragment-left .boxes {
    display: flex; flex-wrap:wrap;
    margin:-4px;
}
.area-ips .fragment-left .box-wrap {
    padding:4px;
}
.area-ips .fragment-left .box {
    width:40px; height:40px;
    position: relative;
    background-color:#ccc; border:3px solid transparent;
}
.area-ips .fragment-left .box .title {
    padding:0px;
    text-align:center;
}
.area-ips .fragment-left .box .title .text {
    position: relative; top:-1px;
    font-size:10px;
    color:#fff;
}
.area-ips .marks {
    display: flex; justify-content: space-between;
    width:100%;
    position: absolute; bottom:0; left:0;
}
.area-ips .mark-wrap {
    width:33.33%;
    padding:1px;
}
.area-ips .mark-wrap:nth-child(1).active .mark {
    background-color:navy;
}
.area-ips .mark-wrap:nth-child(2).active .mark {
    background-color:royalblue;
}
.area-ips .mark-wrap:nth-child(3).active .mark {
    background-color:green;
}
.area-ips .mark {
    width:100%; height:6px;
    background-color:transparent;
}
.area-ips .fragment-left .box.using {
    background-color:skyblue;
}
.area-ips .fragment-left .box.using .title .text {
    color:#333;
}
.area-ips .fragment-left .box.network {
    background-color:royalblue;
}
.area-ips .fragment-left .box.dhcp {
    border-color:lightgreen;
}
.area-ips .fragment-left .box.block .title {
    background-color:red;
}
.area-ips .fragment-left .box.block .title .text {
    color:#fff;
}
.area-ips .fragment-left .box.network {}
.area-ips .fragment-right {
    flex: 0 0 auto;
    width:200px;
    border:1px solid #ccc;
}
.area-ips .fragment-right .box-legend {}
.area-ips .fragment-right .box-legend .top {
    padding:8px 16px;
    background-color:#eee;
    font-size:14px; font-weight:bold;
}
.area-ips .fragment-right .box-legend .guides {
    padding:10px;
}
.area-ips .fragment-right .box-legend .box-guide {
    display: flex; align-items: center;
    margin-top:8px;
}
.area-ips .fragment-right .box-legend .box-guide:first-child {
    margin-top:0;
}
.area-ips .fragment-right .box-legend .box-guide .box {
    flex:0 0 auto;
    width:25px; height:25px;
    margin-right:4px;
    position: relative;
    background-color:#eee;
    border:3px solid transparent;
}
.area-ips .fragment-right .box-legend .box-guide .title {
    font-size:12px;
}
.area-ips .fragment-right .box-legend .box-guide.using .box {
    background-color:skyblue;
}
.area-ips .fragment-right .box-legend .box-guide.network .box {
    background-color:royalblue;
}
.area-ips .fragment-right .box-legend .box-guide.dhcp .box {
    border-color:lightgreen;
}
.area-ips .fragment-right .box-legend .box-guide.block .box:after {
    content:"";
    width:calc(100% - 4px); height:8px;
    position: absolute; top:2px; left:50%; transform:translateX(-50%);
    background-color:red;
}

.area-ips .fragment-right .box-information {}
.area-ips .fragment-right .box-information .top {
    padding:8px 16px;
    background-color:#eee;
    font-size:14px; font-weight:bold;
}
.area-ips .fragment-right .box-information .bodies {
    padding:10px;
}
.area-ips .fragment-right .box-information .body {
    margin-top:8px;
    font-size:12px;
}
.area-ips .fragment-right .box-information .body:first-child {
    margin-top:0;
}

.area-license .box-top {
    width:800px;
    padding:40px; margin-bottom:20px;
    background-color:#fff;
    border:1px solid #ccc;
}
.area-license .box-top img {
    display: block;
    width: 150px;
    margin:0 auto; margin-bottom:24px;
}
.area-license .box-top .links {
    display: flex; justify-content: center;
}
.area-license .box-top .link {
    display: flex; align-items: center;
    margin:0 16px;
}
.area-license .box-top .link i {
    color:navy;
}
.area-license .box-top .link a {
    margin-left:8px;
    font-size:14px;
    color:navy;
}

.iframe-wrap {
    height:100%;
}
.iframe-wrap iframe {
    position: relative; top:-95px;
}

/* 대시보드 메인 - 방화벽 팝업 */
.firewall-btn { position: absolute; width: 5%; padding-top: 5%; z-index:1;}
.firewall-btn-01 { left: 52.6%; top: 34.9%; }
.firewall-btn-02 { left: 42.5%; top: 34.9%; }
.firewall-btn-03 { left: 37%; top: 48.6%; }
.firewall-btn-04 { left: 42.5%; top: 61.3%; }
.firewall-btn-05 { left: 52.6%; top: 61.3%; }
.firewall-btn-06 { left: 58%; top: 48.6%; }

.firewall .modal-wrap { max-width: 1280px; }
.firewall-wrap { position: relative; padding: 24px; max-height: 80vh; overflow: auto; }
.firewall-title { font-size: 24px; font-weight: bold; padding-bottom: 16px; border-bottom: 1px dashed #e4e4e4; margin-bottom: 16px;}
.firewall-structure-wrap { background: #e4e4e4; padding: 24px 40px; border-radius: 14px; margin-bottom: 16px; }
/* .firewall-structure-wrap > * { height: 320px; } */
.firewall-state-wrap { gap: 16px; }
.firewall-state-group { gap: 16px; width: 100%; }
.firewall-state-group.flex1 { flex: 3; }
.firewall-state-group.flex2 { flex: 4; }
.firewall-state-item { width: 100%; border: 1px solid #e4e4e4; border-radius: 14px; padding: 12px; }
.firewall-state-item .item-default { font-weight: bold; font-size: 14px; text-align: left; margin-bottom: 8px; }
.firewall-state-item .item-user { display: flex; align-items: center; gap: 8px; justify-content: center; }
.firewall-state-item .item-user i { font-size: 24px; }
.firewall-state-item .item-user .num { font-size: 20px; font-weight: bold; }
.firewall-state-item.warning * { color: #ff4620; }
.firewall-state-item.up * { color: #359832; }
.firewall-state-item.unusual * { color: #ef9900; }
.firewall-amount-wrap { flex: 2; height: 400px; overflow: auto; }
.firewall-amount-wrap::-webkit-scrollbar { display: none; }
.firewall-amount-item { height: 56px; font-size: 18px; display: flex; padding: 0 20px; align-items: center; justify-content: space-between; gap: 8px; }
.firewall-amount-item:nth-child(2n-1) { background: #f5f5f5; }
.firewall-amount-item:nth-child(2n) { background: #e4e4e4; }
.firewall-amount-item:not(:last-child) { margin-bottom: 4px; }
.firewall-amount-item .num { font-size: 20px; font-weight: bold; color: #4d4d4d; }
.firewall-amount-item .title { font-size: 16px; font-weight: 500; color: #4d4d4d; }
.firewall-devices-status-wrap { flex: 3; border-top-left-radius: 14px; border-top-right-radius: 14px; overflow: auto; height: 400px; }
.firewall-devices-status-wrap::-webkit-scrollbar { display: none; }
.firewall-devices-status-title { width: 100%; padding: 8px; text-align: center; font-size: 16px; background: #4d4d4d; color: #fff; font-weight: 600; text-transform: capitalize; position: sticky; top: 0; z-index: 1; }
.firewall-devices-status-item { position: relative; padding: 8px 16px; }
.firewall-devices-status-item:not(:last-child) { border-bottom: 1px solid #e4e4e4; }
.firewall-devices-status-item:hover { background: #f5f5f5; }
.firewall-devices-status-item .state-bar { position: absolute; left: 4px; top: 8px; height: calc( 100% - 16px ); }
.firewall-devices-status-item .txt-wrap { gap: 4px; }
.firewall-devices-status-item .title-group { gap: 4px; }
.firewall-devices-status-item .title, .firewall-devices-status-item .date { font-size: 14px; line-height: 1.25; }
.firewall-devices-status-item .type { padding: 0 8px; height: 20px; font-size: 12px; line-height: 20px; border-radius: 4px; background: #707070; color: #fff; }
.firewall-chart-wrap { width: 100%; height: 312px; border: 1px solid #e4e4e4; border-radius: 14px; padding: 8px; }

.structure-group { height: 100%; align-items: center; justify-content: space-between; position: relative; z-index: 0; gap: 24px; background: #e4e4e4; }
.structure-group.none-bg { background: none; }
.structure-group.col-group::after { content: ''; display: block; position: absolute; width: calc( 100% - 80px ); left: 50%; top: 50%; transform: translate(-50%, -50%); height: 2px; background: #fff; z-index: -1; }
.structure-group.row-group::after { content: ''; display: block; position: absolute; width: 2px; height: 100%; background: #fff; left: 50%; top: 50%; transform: translate(-50%, -50%); z-index: -1; }
.structure-group.just-group::after { display: none; }
.structure-group.flex-start { align-items: flex-start; height: auto; }
.structure-group.flex-end { align-items: flex-end; height: auto; }
.structure-group.col-group.flex-start::after { top: 40px; }
.structure-group.col-group.flex-end::after { top: unset; bottom: 40px; }
.structure-item { width: 80px; height: 80px; border: 2px solid #fff; border-radius: 4px; background-color: #e4e4e4; background-repeat: no-repeat; background-size: 64px; background-position: center; }
.structure-item.firewall__01 { background-image: url(../images/icon_firewall_01.png); }
.structure-item.firewall__02 { background-image: url(../images/icon_firewall_02.png); }
.structure-item.firewall__03 { background-image: url(../images/icon_firewall_03.png); }
.structure-item.firewall__04 { background-image: url(../images/icon_firewall_04.png); }
.structure-item.firewall__05 { background-image: url(../images/icon_firewall_05.png); }
.structure-item.firewall__06 { background-image: url(../images/icon_firewall_06.png); }
.structure-item.firewall__07 { background-image: url(../images/icon_firewall_07.png); }
.structure-item.firewall__08 { background-image: url(../images/icon_firewall_08.png); }

.structure-group.group2 { align-items: flex-start; }
.structure-group.group2::after { content: ''; display: block; width: calc( 100% + 80px ); height: calc( 100% - 80px ); background: none; border: 2px solid #fff; }
.structure-group.group2 .structure-group { height: auto; align-items: flex-start; }

.structure-group.group-border-wrap { padding-left: 40px; }
.structure-group.group-border-wrap .group-border { position: absolute; display: block; width: 40px; height: calc( 100% - 80px ); background: #e4e4e4; border: 2px solid #fff; border-right: 0; left: 0; top: 50%; transform: translateY(-50%); }
.structure-group.group-border-wrap .group-border.half { height: calc( 50% - 40px ); top: unset; bottom: 40px; transform: none; }
.structure-group.group-border-wrap .inside-border { position: absolute; display: block; width: 64px; border: 2px solid #fff; }
.structure-group.group-border-wrap .inside-border.position-left { left: 40px; top: 40px; height: 64px; border-right: 0; border-bottom: 0; }
.structure-group.group-border-wrap .inside-border.position-right { right: -24px; height: 120px; bottom: 0; transform: translateY(100%); border-top: 0; border-right: 0; }
.structure-group.group-border-wrap .diagonal-border { position: absolute; display: block; width: 104px; height: 24px; bottom: -24px;  }
.structure-group.group-border-wrap .diagonal-border.position-left { left: 40px; background: linear-gradient( to top right, rgba(0,0,0,0) calc(50% - 2px), #fff, rgba(0,0,0,0) calc(50% + 2px)); }
.structure-group.group-border-wrap .diagonal-border.position-right { right: 40px; background: linear-gradient( to top left, rgba(0,0,0,0) calc(50% - 2px), #fff, rgba(0,0,0,0) calc(50% + 2px)); }
/* //대시보드 메인 - 방화벽 팝업 */
